.sidebar-container {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100vh;
}

/* Estilo base para el sidebar */
.sidebar {
  width: 200px;
  background-color: #135585;
  padding: 20px;
  height: 100vh;
  overflow: auto;
  transition: width 0.3s ease-in-out;
}

.sidebar.oculto {
  width: 0;
  padding: 0;
  overflow: hidden;
}

.linea {
  border-width: 3px;
  border-color: white;
}

button {
  margin-top: auto;
  /* top: 10px; */
  left: 10px;
  color: white;
  border: none;
  padding: 5px 15px;
  cursor: pointer;

}

li button {
  width: 0;
  padding: 0;
  overflow: hidden;
  background-color: #9dc5c2;
  color: #135585;
  margin-top: auto;
  border-radius: 15px;
  width: 100%;
  font-size: 20px;
  font-weight: bold;
}

.btnMostrar.oculto {
  background-color: #9dc5c2;
  border-radius: 25px;
  bottom: 10px;
  color: #135585;
  left: 10px;
  padding: 5px 15px;
  position: fixed;
  cursor: pointer;
  transition: all 0.3s;

}

.btnMostrar.visible {
  width: 0;
  padding: 0;
  overflow: hidden;

}


.sidebar-nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.sidebar-nav li {
  width: 100%;
}

.sidebar-nav li a {
  text-decoration: none;
}

.encabezado {
  display: flex;
  align-items: center;
  
  
  margin-bottom: 15px;
  background-color: white;
  /*D34646 este color lo usaremos cuando la opcion este seleccionada*/
}

.img_Encabezado {
  width: 100%;
}

.usuario {
  display: flex;
  align-items: center;
  padding: 5px;
  border-radius: 15px;
  margin-bottom: 15px;
  background-color: #9dc5c2;
  flex-direction: column;
}

.texto_Usuario {
  margin-left: 15px;
  font-size: 17px;
  color: #135585;
  font-weight: bold;

}

.texto_Rol {
  margin-left: 15px;
  font-size: 20px;
  color: red;
  font-weight: bold;
  text-align: center;
}

.usuario hr {
  margin: 0px;
  border-width: 2px;
  opacity: .5;
  color: #135585;
}

.item {
  display: flex;
  align-items: center;
  padding: 5px;
  border-radius: 15px;
  margin-bottom: 15px;
  background-color: #9dc5c2;
  /*D34646 este color lo usaremos cuando la opcion este seleccionada*/
  transform: translateY(0);
  transition:transform .5s;
}

.item:hover {
  transform: translateY(-5px);
}
.active .item {
  background-color: #e23131;

}

.active .item .texto-opcion{
  color: #9dc5c2;
}

.item .texto-opcion{
  transform: translateY(0);
  transition:transform .5s;
  
}
.item:hover .texto-opcion {
  transform: translateY(-5px);
}

.item .icono{
  transform: translateY(0);
  transition:transform .5s;
}
.item:hover .icono {
  transform: translateY(-5px);
}

.active .item .icono{
  animation:jump 2s infinite;
}
@keyframes jump {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0); /* El elemento está en su posición normal */
  }
  40% {
    transform: translateY(-10px); /* Salto hacia arriba */
  }
  60% {
    transform: translateY(-10px); /* Descenso después del salto */
  }
}
/* .item:hover {
  background-color: #e0e0e0;
} */

.icono {
  margin-left: 5px;
  margin-right: 7px;
  font-size: 15px;
  
}

.texto-opcion {
  font-size: 20px;
  color: #135585;
  font-weight: bold;
}

.texto-subopcion {
  font-size: 15.5px;
  color: #135585;
  font-weight: bold;
}


hr {
  border-width: 2px;
  width: 100%;
}


@media (max-width: 768px) {
  .sidebar {
    width: 120px;
    padding: 5px;
  }

  .img_Encabezado {
    width: 100%;
  }

  .texto_Usuario {
    font-size: 12px;
  }

  .texto_Rol {
    font-size: 12px;
  }

  .texto-opcion {
    font-size: 12px;
  }

  .texto-subopcion {
    font-size: 10px;
  }

  li button {
    font-size: 12px;
  } 

  /* .sidebar-container button{
    background-color: red;
  } */

}


.subitem {
  display: flex;
  align-items: center;
  padding: 2%;
  border-radius: 15px;
  margin-bottom: 4px;
  background-color: #9dc5c2;
  /*D34646 este color lo usaremos cuando la opcion este seleccionada*/
  transform: translateY(0);
  transition:transform .5s;
 
  

}

.subitem:hover {
  transform: translateY(-1px);
}
.active .subitem {
  background-color: #e23131;

}

.active .subitem .texto-subopcion{
  color: #9dc5c2;
}

.subitem .texto-subopcion{
  transform: translateY(0);
  transition:transform .5s;
  
}
.subitem:hover .texto-subopcion {
  transform: translateY(-2px);
}


@keyframes jump {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0); /* El elemento está en su posición normal */
  }
  40% {
    transform: translateY(-10px); /* Salto hacia arriba */
  }
  60% {
    transform: translateY(-10px); /* Descenso después del salto */
  }
}