.sidebaro-containero {
  display: flex;
  flex-direction:column;
  position: relative;
  height: 70px;
  margin-top: 0%;
  margin-bottom: 0%;
  margin-left: 2px;
  width: 97%;
  border-radius: 0%;
  
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Agregar sombra */
}

/* Estilo base para el sidebar */
.sidebaro {
  width: 100%;
  background-color: white;
  padding: 0px;
  height: 98%;
  overflow-x: auto;
  transition: width 0.3s ease-in-out;
  border: 2px solid #fff; /* Ejemplo de propiedad border con ancho y color */
  border-radius: 10px; /* Radio de borde para todas las esquinas */
  overflow-y: hidden; /* Permitir el desplazamiento vertical */
    overflow-x: auto; 
}



.encabezadi {
  display: flex;
  align-items: center;
  margin-bottom: 0%;
  background-color: none;
  height: 100%;
  /*D34646 este color lo usaremos cuando la opcion este seleccionada*/
}

.itemo {
  display: flex;
  align-items: center;
  padding: 13px;
  width: 100%;
  border-radius: 10px;
  margin-right: 1px;
  margin-left: 0px;
  background-color: #ffffff;
  /*D34646 este color lo usaremos cuando la opcion este seleccionada*/
  margin-bottom: 0%;
  transition:transform .5s;
  margin-top: 0px;
  height: 100%;

  

}


  




.activo{

  display: flex;
  align-items: center;
  padding: 13px;
  width: 138px;
  border-radius: 10px;
  margin-right: 1px;
  margin-left: 0px;
  background-color: #135585;
  /*D34646 este color lo usaremos cuando la opcion este seleccionada*/
  margin-bottom: 0%;
  transition:transform .5s;
  margin-top: 0px;
  height: 139%;
}


.itemo:hover {
  transform: translateY(-2px);
}
.active .itemo {
  background-color: #135585;

}

.active .itemo .texto-opciono{
  color: white;
}


.texto-opciono.activo {
  /* Estilos para el texto de la opción activa */
  color: rgb(238, 238, 243); /* Cambia el color a azul cuando está activo */
  font-weight: bold; /* Texto en negrita cuando está activo */
  
}

.texto-opciono {
  font-size: 16px;
  color: #135585;
  font-weight: bold;
  margin-top: -6%;
text-align: center;
}

@media (min-width: 1024px) and (max-width: 1028px) {

.sidebaro-containero {

height: 75px;
  }

}





@media (min-width: 426px) and (max-width: 768px) {


  .sidebaro-containero {
    display: flex;
    flex-direction: fill;
    position: relative;
    height: 50px;
    margin-top: 0%; /* Ajusta el margen superior según tus necesidades */
    margin-left: 0%;
    margin-bottom: 0px;
    width: 100%; /* Ancho inicial de la barra lateral */
    
  }
  
  .sidebaro {
    width: 100%;
    background-color: white;
    padding: 0px;
    overflow-y: hidden; /* Permitir el desplazamiento vertical */
    overflow-x: auto; /* Ocultar el desplazamiento horizontal */
    border-radius: 10px;
    height: 100%;
    border-radius:0%;
    scrollbar-width: auto; /* Ancho de la barra de desplazamiento */
    margin-left: -5px;
  }
  
  .encabezadi {
    display: flex;
    flex-direction:fill; /* Cambia la dirección a columna para apilar elementos */
    align-items: center;
    
  }
  
  .itemo {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px;
    border-radius: 5px;
    margin-bottom: 1px; /* Espacio entre elementos */
    background-color: #ffffff;
    width:100%; /* Ancho del elemento ajustado automáticamente */
    margin-top: 0%;
    margin-left: -5px;
    margin-right: 5px;
    height: 105%;
  }
  
  .itemo:hover {
    transform: translateY(2px);
  }


  .activo{

    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px;
    border-radius: 5px;
    margin-bottom: 0px; /* Espacio entre elementos */
    background-color: #135585;
    width:70%; /* Ancho del elemento ajustado automáticamente */
    margin-top: 0%;
    margin-left: -5px;
    margin-right: 5px;
    height: 100%;
    border-radius: 8px;
  }



  
  .activo .itemo {
    background-color: #135585;
  }
  
  .activo .itemo .texto-opciono {
    color: white;
  }
  
  .texto-opciono {
    font-size: 11px;
    color: #135585;
    font-weight:bold;
    margin-left: 5px;
    
  }



}



@media (max-width: 426px) {


  .sidebaro-containero {
    display: flex;
    flex-direction: fill;
    position: relative;
    height: 55px;
    margin-top: 5%; /* Ajusta el margen superior según tus necesidades */
    margin-left: 5%;
    margin-bottom: 0px;
    width: 90%; /* Ancho inicial de la barra lateral */
    
  }
  
  .sidebaro {
    width: 100%;
    background-color: white;
    padding: 0px;
    overflow-y: hidden; /* Permitir el desplazamiento vertical */
    overflow-x: auto; /* Ocultar el desplazamiento horizontal */
    border-radius: 10px;
    height: 100%;
    border-radius:0%;
    scrollbar-width: auto; /* Ancho de la barra de desplazamiento */
    
  }
  
  .encabezadi {
    display: flex;
    flex-direction:fill; /* Cambia la dirección a columna para apilar elementos */
    align-items: center;
    
  }
  
  .itemo {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px;
    border-radius: 5px;
    margin-bottom: 1px; /* Espacio entre elementos */
    background-color: #ffffff;
    width:50%; /* Ancho del elemento ajustado automáticamente */
    margin-top: 0%;
    margin-left: -5px;
    margin-right: 5px;
    height: 105%;
  }
  
  .itemo:hover {
    transform: translateY(2px);
  }


  .activo{

    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px;
    border-radius: 5px;
    margin-bottom: 0px; /* Espacio entre elementos */
    background-color: #135585;
    width:100%; /* Ancho del elemento ajustado automáticamente */
    margin-top: 0%;
    margin-left: -5px;
    margin-right: 5px;
    height: 110%;
    border-radius: 8px;
  }



  
  .activo .itemo {
    background-color: #135585;
  }
  
  .activo .itemo .texto-opciono {
    color: white;
  }
  
  .texto-opciono {
    font-size: 11px;
    color: #135585;
    font-weight:bold;
    margin-left: 5px;
    
  }





}