.consejerosPage {
    flex-grow: 1;
    /* Hace que el contenido principal ocupe todo el espacio restante */
    padding: 20px;
    background-color: #E0E0E0;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.consejerosPage .contenidoDinamico {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.consejerosPage .BtnOpciones {
    align-items: center;
    padding-left: 0px;
    /* Agrega espacio interno si es necesario */
    margin-top: 10px;

}

.consejerosPage .barraBusqueda {
    align-items: center;
    padding-left: 0px;
    margin-top: 10px;
}

.consejerosPage .tituloConsejeros {
    align-items: center;
    padding-left: 0px;
    margin-top: 10px;
    text-shadow: 1px 1px 8px #9dc5c2;
    color: #135a7a;
}

.tablaConsejero {
    height: 80%;
    overflow: auto;
    
    
}

.cargando{
    font-weight: bold;
    color: red;
    font-size: 20px;
}

@media (max-width: 768px) {
    .consejerosPage {
        padding: 5px;
    }
    .cargando{ 
        font-size: 14px;
    }

}