.Ventana {
  width: 100%; 
  overflow: auto;
  background-color: none;
  margin-top: 0%;
margin-left: -50px;
}


.Ventana label {
  background-color: none;
  color: #135a7a;
  font-size: bold;
  margin-top: 0px;
  margin-bottom: 0%;
}


.Ventana .labe {
  background-color: none;
  color: #135a7a;
  font-size: large;
  font-weight: bold;
}


.Ventana textarea {
  background-color: none;
  font-size: medium;
  margin-top: 0%;
  margin-left: 5px;
  width: 85%;
}

.clase{
  margin-left: 71%;
}

.Ventana .button-enviar {
  background-color: #135a7a;
  color: #fff;
  padding: 0.5% 4%;
  margin-left: 5%;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 71%;
 
}


@media (min-width: 426px) and (max-width: 768px) {
 

  .Ventana textarea {
   
    font-size: small;
  
    width: 90%;
  }
 
  
  .Ventana .button-enviar {
    background-color: #135a7a;
    color: #fff;
    padding: 4px 10px;
   margin-bottom: 14%;
    margin-left: 2%;
    border-radius: 5px;
    cursor: pointer;
      
  }
  
.clase{
  margin-left: 2%;
}

}



@media (max-width: 425px) {

  .Ventana {
    width: 90%; 
    overflow: auto;
    background-color: none;
    margin-top: 0%;
  margin-left: -10px;
  }
  
  
  .Ventana label {
    background-color: none;
    
    margin-top: 0px;
    margin-bottom: 0%;
  }
  
  .Ventana textarea {
    background-color: none;
    font-size: small;
    margin-top: 0%;
    margin-left: 5px;
    width: 95%;
  }
  
  .clase{
    margin-left: 71%;
  }
  
  .Ventana .button-enviar {
    padding: 0.8% 8%;
    margin-left: 5%;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 1%;
   
  }

}