.contenedorKardex {
    overflow: auto;
    max-height: 100%;
    
  }
  .contenedorKardex .tablita .nombrePeriodoKardex{
    text-align: center;
    font-weight: bold;
    background-color: #9dc5c2;
  }
.contenedorKardex .tablita .promedio  {
    background-color: gray;
    font-weight: bold;
    color: black;
  }
  .contenedorKardex .tablita th {
    background-color: #135A7A;
    color: #fff;
  }

  @media (max-width: 768px) {
    .contenedorKardex .table,
    .contenedorKardex .table tbody,
    .contenedorKardex .table tr,
    .contenedorKardex .table td,
    .contenedorKardex .table th {
      width: 100%;
    }
  
    .contenedorKardex .table td,
    .contenedorKardex .table th {
      text-align: left;
      padding: 8px; 
      font-size: 12px;
      
    }
  }