.Festudiantesu {
  width: 100%;
  max-width: 800px;
  padding: 30px;
  margin: 30px auto;
  border-radius: 10px;
  overflow: auto;
  box-shadow: 1px 1px 10px #135a7a;
  background-color: #9dc5c2;
}

.Festudiantesu h1 {
  font-size: 30px;
  margin-bottom: 20px;
  color: #135a7a;
}

.Festudiantesu label {
  width: 39%;
  display: inline-block;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 20px;
  color: white;
  background-color: #135a7a;
  padding: 5px;
}

.Festudiantesu input[type="text"],
.Festudiantesu input[type="number"],
.Festudiantesu input[type="date"] {
  width: 50%;
  padding: 10px;
  margin-bottom: 15px;
  font-size: 18px;
  border: 1px solid #ccc;
}

.Festudiantesu p {
  color: red;
  font-weight: bold;
}

.Festudiantesu select {
  width: 50%;
  padding: 10px;
  margin-bottom: 15px;
  font-size: 18px;
  border: 1px solid #ccc;
}

.Festudiantesu button {
  background-color: #135a7a;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.Festudiantesu .btnCp {
  width: 25%;

  margin-top: 0;
  margin-bottom: 5px;
}

.Festudiantesu utton:hover {
  background-color: #0056b3;
}

@media (max-width: 768px) {
  /* Ajusta los estilos del formulario para pantallas más pequeñas si es necesario */
  .Festudiantesu {
    width: 100%;
    font-size: 14px;
    overflow: scroll;
    margin: 0px;
    padding: 0px;
  }

  .Festudiantesu table {
    max-width: 100px;
    font-size: 6px;
  }

  .Festudiantesu label {
    width: 100%;
    /* Ocupar el ancho completo en pantallas pequeñas */
    margin-bottom: 5px;
    /* Espacio menor para pantallas pequeñas */
    font-size: 12px;
  }

  .Festudiantesu input[type="text"],
  .Festudiantesu input[type="number"],
  .Festudiantesu input[type="date"] {
    width: 100%;
    padding: 2px;
    font-size: 12px;
  }

  .Festudiantesu .btnCp{
    width: 100%;
    
    margin-top: 0;
    margin-bottom: 3px;
  }
  .Festudiantesu select {
    width: 100%;
    font-size: 12px;
    padding: 2px;
  }
}
