.contenedorPricipal {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: #e0e0e0;
  align-items: center;
  justify-content: center;
  overflow: auto;
}
.contenedorPricipal .titulo {
  width: 90%;
  margin-top: 0px;
  transition: all 1s ease;
}

.contenedorPricipal .titulo h1 {
  font-size: 45px;
  color: #135585;
  font-weight: 700;
  text-align: center;
}

.contenedorPricipal .titulo:hover {
  transform: scale(1.05);
}

.contenidoFormulario {
  display: flex;
  margin-top: 25px;
  width: 70%;
  height: 65%;
  position: relative;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0 0 10px 5px #135a7a;
}

.ladoA.mayor {
  width: 70%;
  flex: 1;
  height: 100%;
  position: relative;
  clip-path: polygon(0% 0, 50% 0, 100% 100%, 0% 100%);
  background-color: #135585;
  transition: all 1.5s ease;
}
.ladoA.menor {
  width: 30%;
  transition: all 0.5s ease;
}

.ladoB.mayor {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 70%;
  flex: 1;
  height: 100%;
  position: relative;
  clip-path: polygon(50% 0, 100% 0, 100% 100%, 0% 100%);
  background-color: #135585;
  transition: all 0.8s ease;
}
.ladoB.menor {
  width: 30%;
  background-color: #fff;
  transition: all 0.5s ease;
}

.formulario {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 10%;

  margin-left: 10%;
  width: 70%;
  height: 70%;
}

.formulario2 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 18%;
  margin-right: 5%;
  width: 50%;
  height: 70%;
}

.formulario form {
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 65%;
  height: 100%;
}

.campos {
  position: relative;
  margin: 15px 0;
  width: 100%;
  border-bottom: 2px solid #fff;
}

.campos label {
  left: 5px;
  transform: translateY(-20%);
  color: #fff;
  font-size: 18px;
  transition: all 1s ease;
  width: 100%;
  font-weight: bold;
}

.campos label:hover {
  transform: translateY(-15px);
}

.campos input {
  width: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 18px;
  padding: -35px 0 5px;
  color: #fff;
}

form .btn-primary {
  width: 100%;
  margin-left: 0%;
}
form .btn-primary:hover {
  background-color: #135585;
}

.formulario .txtOlvidoContra {
  color: white;
}

.contenedorlogo {
  /* background-color: red; */
  width: 100%;
  height: 63%;
  margin: 0;
  padding: 0;
}

.contenedorlogo .textoUaco {
  width: 100%;
}
.contenedorlogo .textoUaco h4 {
  color: #135585;
  text-align: center;
  font-weight: bold;
  font-size: 27px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5), 3px 3px 6px rgba(0, 0, 0, 0.3);
  transition: all 1s ease;
}

.contenedorlogo .textoUaco h4:hover {
  transform: scale(1.04);
}

.contenedorlogo .imagen {
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0;

  /* background-color: blue; */
}

.contenedorlogo .imagen img {
  width: 100%;
  height: 100%;
  display: block;
  transition: all 1s ease;
}

.contenedorlogo .imagen img:hover {
  transform: scale(1.04);
}

/* (20% 0): Esquina superior izquierda.
(80% 0): Esquina superior derecha.
(100% 100%): Esquina inferior derecha.
(0% 100%): Esquina inferior izquierda. */
@media (max-width: 768px) {
  .contenedorPricipal {
    overflow: auto;
  }

  .contenedorPricipal .titulo {
    display: none;
    /* width: 100%;
    overflow: auto; */
  }

  .contenedorPricipal .titulo h1 {
    font-size: 20px;
    margin: 0px;
    padding: 0px;
    
  }

  .contenidoFormulario {
    flex-direction: column;
    margin-top: 25px;
    width: 90%;
   height: 60%;
  }

  .formulario form {
    margin-top: 15px;
  }
  .ladoA.mayor {
    width: 100%;
    clip-path: polygon(0% 0, 100% 0, 100% 100%, 0% 100%);
    height: 70%;
    order: 2;
    transition: none;
  }
  .ladoA.menor {
    width: 100%;
    height: 25%;
    
  }
  .ladoB.mayor {
    width: 100%;
    clip-path: polygon(0% 0, 100% 0, 100% 100%, 0% 100%);
    height: 70%;
    order: 2;
    transition: none;
  }
  .ladoB.menor {
    width: 100%;
    height: 25%;
    
    
  }

  .formulario,
  .formulario2 {
    align-items: center;
    justify-content: center;
    margin-top: 5%;
    margin-left: 0;
    width: 100%;
  }

  .campos label {
    font-size: 15px;
  }

  .campos input{
    font-size: 15px;
  }

  form .btn-primary {
     font-size: 15px;
    
  }

  .formulario .txtOlvidoContra {
    font-size: 15px;
  }

  .contenedorlogo .textoUaco h4 {
    font-size: 30px;
    margin-top: 10px;
  }

  .contenedorlogo .imagen {
    display: none;
  }

  .contenedorlogo .imagen img{
    image-rendering: optimizeQuality; 
  image-rendering: -webkit-optimize-contrast; 
  }
}
