.Festudianz {
  width: 100%;
  height: 80%;
  max-width: 890px;
  padding: 30px;
  margin-left: 95px;
  margin-top: 140px;
  border-radius: 10px;
  overflow: auto;
  box-shadow: 1px 1px 10px #135a7a;
  background-color: #9dc5c2;
}

.contenedorz {
  width: 85%;
  height: 55%;
  margin-left: 70px;
  margin-top: 15px;
  margin-bottom: 5%;
  overflow:hidden;
  background-color: #ffffff;
  /* Estilos para centrar el contenido interno */
  display: flex;
  justify-content: center; /* Centra horizontalmente el contenido */
 
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}




.Festudianz .verz{
  background-color: #06c52f;
  color: #fff;
  border-radius: 5px;
  margin-left:3% ;
  cursor: pointer;
  margin-top: 0%;
  width: 10%;
  padding: 0.3%;
}

.accionesz{
  width: 100%;
  margin-top: 10%;
  margin-bottom: 12%;
  margin-left: 60px;
}

.Festudianz .ver-2z{
  background-color: #06c52f;
  color: #fff;
  border-radius: 5px;
  margin-left:2px ;
  cursor: pointer;
  margin-top: 0%;
  width: 10%;
  padding: 0.3%;
  margin-right: 200px;
}

.accionesz-1{
  width: 100%;
  margin-top: 12%;
  margin-bottom: 13px;
}


.accionesz-4{
  width: 100%;
  margin-top: 18%;
  margin-bottom: 13px;
}

.Festudianz .verz-1{
  background-color: #06c52f;
  color: #fff;
  border-radius: 5px;
  margin-left:50px;
  cursor: pointer;
  margin-top: 0%;
  width: 10%;
  padding: 0.8%;
  
}
.Festudianz .esz-1 {
  margin-left: 0px;
  margin-bottom:0%;
  margin-left: 50px;
  font-size: large;
  color: #135a7a;
  font-weight: bold; /* Aplica negrita */
 }

 .Festudianz .arc-1z {
  margin-left: 0px;
  margin-bottom:60px;
  margin-left: 170px;
  margin-top: -30px;
  text-decoration: underline; 
 }


 .Festudianz .arc-1z-4 {
  margin-left: 0px;
  margin-bottom:60px;
  margin-left: 170px;
  margin-top: -30px;
  text-decoration: underline; 
 }


 .Festudianz .estado-0z {
  margin-left: 0px;
  margin:  0px;
  margin-left: 0px;
  font-size: large;
  color: #135a7a;
  font-weight: bold; /* Aplica negrita */
 }

 .contener-3z{
  margin-left: 250px;
  margin-top: 25px;
  margin-bottom: 9px;
}
.accionesz-3{
  width: 430px;
  margin-top: 6%;
  margin-bottom: 0%;
}

.ff {
margin-bottom: -12px;
margin-top: 5px;
margin-left: -100px;
}

.Festudianz .subir-3z {
  background-color: #135a7a;
  color: #fff;
  border-radius: 9px;
 
  cursor: pointer;
margin-left: 5px;

  width: 80px;
  transition: background-color 0.3s ease; /* Transición suave de color */
}

.Festudianz .subir-3z:hover {
  background-color: #1e85ad; /* Color diferente al pasar el puntero */
}
.Festudianz .verz-3{
  background-color: #06c52f;
  color: #fff;
  border-radius: 5px;
  margin-left:-15% ;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: -30px;
  width: 10%;
  padding: 0.3%;
}

.Festudianz .esz-3 {
  margin-left: 0px;
  margin-bottom:0%;
  margin-left: -190px;
  font-size: large;
  color: red;
  font-weight: bold; /* Aplica negrita */
 }

 .Festudianx .arc-3z {
  margin-left: 0px;
  margin-bottom:18px;
  margin-left: 70px;
  margin-top: -25px;
  text-decoration: underline; 
 }


 .Festudianz .arc-3z {
  margin-left: 0px;
  margin-bottom:18px;
  margin-left: 0px;
  margin-top: -25px;
  text-decoration: underline; 
 }



 .Festudianz .arc-2z {
  margin-left: 0px;
  margin-bottom:12px;
  margin-left: 80px;
  margin-top: -25px;
  text-decoration: underline; 
 }


 .Festudianz .comentz {
  color: #135a7a;
  margin-left: 40px;
  margin-top: 0px;
  font-size: 17px;
  margin-bottom: 0px;
 }

 .Festudianz .comentarioz {
  color: #000000;
  margin-left: 2px;
  font-size: 14px;
  width: 65%;
  margin-left: 180px;
  margin-top: -22px;
  height: 50px;
  margin-bottom: 0px;

 }


.calz{
  background-color: #135a7a;
  color: #fff;
  border-radius: 8px;
  margin-left:50% ;
  cursor: pointer;
  margin-top: 2%;
  width: 15%;
  margin-bottom: 0%;
  padding: 1%;
}
.calificar-noz{
  background-color: #135a7a;
  color: #fff;
  border-radius: 8px;
  margin-left:10% ;
  cursor: pointer;
  margin-top: 2%;
  width: 16%;
  margin-bottom: 0%;
}







.Festudianz h1 {
  font-size: 22px;
 text-align: center;
 color: black;
 margin-top: 0%;
}



.titulz {
  width: 100%;
  display: inline-block;
  font-weight: bold;
  font-size: 160%;
  padding:0%;
  margin-top: -50%;
  color: #135a7a;
  text-align: center;
  margin-bottom: -10%;
}

.ggz {
  margin-top:80px;
  margin-bottom: 23px;
  margin-left:23%;
  width: 85%;
}


.titulo-contenedorz {
  width: 100%;
  font-weight: bold;
  font-size: 120%;
  margin-top: -25px;
  color: #ffffff;
  text-align: center;
  margin-bottom: -4%;
  background-color: #135a7a;
}

.Festudianz input[type="file"]
 {
  width: 360px;
  padding: 1px;
  font-size: 15px;
  border: 1px solid #ccc;
  margin-left: -25px;
}

.accionesz p {
 margin-left: 90px;
margin-top: -30px;
width: 385px;
text-decoration: underline; /* Subrayar el texto dentro del párrafo */
}

.archivoz{
  margin-left:-20px;
 
}





.Festudianz .botonz {
  background-color: #1f92c7;
  color: #fff;
  border-radius: 5px;
  margin-left: 39%;
  cursor: pointer;
  margin-top: 50px;
margin-bottom: -80px;
  width: 22%;
  transition: background-color 0.3s ease; /* Transición suave de color */
}

.Festudianz .botonz:hover {
  background-color: #1e85ad; /* Color diferente al pasar el puntero */
}



.Festudianz .botonz-0 {
  background-color: #1f92c7;
  color: #fff;
  border-radius: 5px;
  margin-left: 15%;
  cursor: pointer;
  margin-top: -5%;
margin-bottom: 25px;
  width: 32%;
  transition: background-color 0.3s ease; /* Transición suave de color */
}

.Festudianz .botonz-0:hover {
  background-color: #1e85ad; /* Color diferente al pasar el puntero */
}



.Festudianz .botonz-3 {
  background-color: #1f92c7;
  color: #fff;
  border-radius: 5px;
  margin-left: 5%;
  margin-right: 40px;
  cursor: pointer;
  margin-top: -10px;
margin-bottom: 0px;
  width: 35%;
  transition: background-color 0.3s ease; /* Transición suave de color */
  font-size: 15px;
}

.Festudianz .botonz-3:hover {
  background-color: #1e85ad; /* Color diferente al pasar el puntero */
}





.calificarx{

  background-color: #1f92c7;
  color: #fff;
  border-radius: 5px;
}



@media (min-width: 1024px) and (max-width: 1028px) {

  .Festudianz { 
    margin-left: -50px;  } 



    .titulo-contenedorz {
      width: 100%;
      margin-left: 0%;
      font-size: 100%;
      margin-top: -67px;
      margin-bottom: -25px;
    }
    
    .titulo-contenedor2z {
      width: 100%;
      margin-left: 0%;
      font-size: 100%;
      margin-top:0px;
      margin-bottom: -30px;
      
    }

    .accionesz-4{
      width: 100%;
      margin-top: 19%;
      margin-bottom: 13px;
    }
.Festudianz .arc-1z-4 {
  margin-left: 0px;
  margin-bottom:60px;
  margin-left: 170px;
  margin-top: -30px;
  text-decoration: underline; 
 }


 .ff {
  margin-bottom: -12px;
  margin-top: 5px;
  margin-left: -50px;
  }
 

}

@media (min-width: 426px) and (max-width: 768px) {


  .Festudianz {
    width: 100%;
    height: 100%;
    margin-left: 0%;
    margin-top: 88px; 
    overflow: auto;
  }

  .contenedorz {
    width: 100%;
    height: 40%;
    margin-left: -23px;
    margin-top: -25px;
  }

  
.titulz {
  width: 100%;
 margin-left: -65px;
  font-size: 100%;
padding: 30px;
 margin-top: -100%;
  margin-bottom: 0%;
}

.accionesz-4{
  width: 100%;
  margin-top: 11%;
  margin-bottom: 13px;
}
.Festudianz .arc-1z-4 {
margin-left: 0px;
margin-bottom:20px;
margin-left: 170px;
margin-top: 11px;
text-decoration: underline; 
}


.ff {
  margin-bottom: -12px;
  margin-top: 5px;
  margin-left: -50px;
  }

  .contener-3z{
    margin-left: 180px;
    margin-top: 25px;
    margin-bottom: 9px;
     width: 490px;
  }
  .accionesz-3{
    width: 490px;
    margin-top: 6%;
    margin-bottom: 0%;
  }

.Festudianz .arc-3 {
 
  margin-bottom:41px;
  margin-left: 50px;
  margin-top: -29px;
  text-decoration: underline; 
  font-size: 14px;
 }


.Festudianz .subir {
 
  border-radius: 5px;
 
 
font-size: 13px;

  width: 100px;
  transition: background-color 0.3s ease; /* Transición suave de color */
}


.Festudianz .subir-3 {
 

 font-size: 12px;

margin-left: 5px;
margin-right: 15px;
  width: 70px;
 
}


.Festudianz .botonz {
  border-radius: 9px;
  margin-left: 40%;

  margin-top: 50px;
margin-bottom: -80px;
  width: 19%;
 font-size: 14px;
}

.Festudianz .botonz-3 {
  background-color: #1f92c7;
  color: #fff;
  border-radius: 5px;
  margin-left: 15%;
  margin-right: 40px;
  
  margin-top: -10px;
margin-bottom: 0px;
  width: 38%;
  
  font-size: 13px;
}



.Festudianz input[type="file"]
 {
  width: 70%;
  font-size: 85%;
  border: 1px solid #0639c5;
  margin-left: 0px;
}

.archivoz{
  margin-left:0px;
  margin-right: 12px;
}

.verz{
 border-radius: 9px;
  margin-left:5% ;
  width: 10%;
  padding: 0.6%;
}


.accionesz{
  width: 100%;
  margin-top: 9%;
  margin-bottom: 38px;
  
}


.Festudianz .verz-2{
  margin-left:270px ;
  margin-top: 2%;
  padding: 0.3%;
  margin-right: 200px;
  margin-bottom: 30px;
}





.accionesz-3{
  width: 330px;
  margin-top: 5%;
  margin-bottom: -4%;
  margin-left: -80px;
}


.Festudianz .comentz {
 
  font-size: 14px;
 margin-left: 20px;
 }

 .Festudianz .comentarioz {
  
  
  font-size: 13px;
  width:100%;
  margin-left: 188px;
 
  height: 50px;
  

 }




 .Festudianz .botonz-0 {
  border-radius: 9px;
  margin-left: 29%;
  font-size: 12px;
  margin-top: -10%;
margin-bottom: 10px;
  width: 25%;
}




 .ggz {
  margin-top:60px;
  margin-bottom: 45px;
  margin-left:95px;
  width: 85%;
}


.calz{
  border-radius: 9px;
  margin-left:0% ;
  margin-right:8% ;
  margin-top: 0%;
  width: 15%;
  font-size: 90%;
  margin-bottom: 0%;
 
}
.calificar-noz{

 
  margin-left:0% ;
  margin-right:8% ;
  margin-top: 0%;
  width: 15%;
  font-size: 90%;
  margin-bottom: 0%;
 padding: 0.9%;
}



.esz {
  margin-left: -5%;
  margin-bottom: 1%;
  margin-right: 15%;
  width: 20%;
 }

 .Festudianz .esz-3 {
  margin-left: -90px;
font-size: 14px;

 }


 .titulo-contenedorz {
  width: 100%;
  margin-left: 0%;
  font-size: 100%;
  margin-top: 5px;
  margin-bottom: -25px;
}



 .accionesz-1{
  width: 100%;
  margin-top: 44px;
  margin-bottom: 20px;
}
.Festudianz .verz-1{
  border-radius: 10px;
  margin-left:50px;
  margin-top: 0%;
  width: 10%;
  padding: 0.5%;
  border-radius: 15px;
  font-size: 14px;
}
.Festudianz .esz-1 {
  margin-left: 0px;
  margin-top:30px;
  margin-left: 50px;
  font-size:14px;
  margin-bottom: 0%;
  
 }

 .Festudianz .arc-1 {
 
  margin-bottom:0px;
  margin-left: 150px;
  margin-top: -29px;
  text-decoration: underline; 
  font-size: 14px;
 }

 .Festudianz .arc-2z {

  margin-bottom:42px;
  margin-left: 80px;
  margin-top: -27px;
  
 }

}





@media (max-width: 425px) {
  /* Ajusta los estilos del formulario para pantallas más pequeñas si es necesario */


  .Festudianz {
    width: 100%;
    height: 100%; 
    margin-left: 0%;
    margin-top: 88px;
   
    
  }
  .contenedorz {
    width: 100%;
    height: 40%;
    margin-left: -23px;
    margin-top: -25px;
    overflow: auto;
  }

  
.titulz {
  width: 100%;
 margin-left: -50px;
  font-size: 100%;
padding: 30px;
 margin-top: -50%;
  margin-bottom: 0%;
}

.titulo-contenedorz {
  width: 100%;
  margin-left: 0px;
  font-size: 80%;
  margin-top: -5px;
  margin-bottom: 0px;
  
}



.boton {
 padding: 1%;
  border-radius: 10px;
  margin-left: 10%;
  font-size: 90%;
  margin-top: 0%;
margin-bottom: -3%;
  width: 100px;
  
}


.gg {
  margin-top: 7%;
  margin-left:6%;
  width: 50%;
}


.Festudianz input[type="text"]
 {
  width: 60%;
  font-size: 85%;
  border: 1px solid #0639c5;
  margin-left: -15px;
}

.archivoz{
  margin-left:0px;
  margin-right: 12px;
}

.verz{
 
  margin-left:10% ;
  width: 30%;
  padding: 1%;
}


.gg2z {
  margin-top: 5%;
  margin-left:6%;
  width: 50%;
}

.acciones{
  width: 100%;
  margin-top: 8%;
  
}


.calz{
  border-radius: 9px;
  margin-left:0% ;
  margin-right:8% ;
  margin-top: 0%;
  width: 40%;
  font-size: 90%;
  margin-bottom: 0%;
 
}




.es {
  margin-left: -2%;
  margin-bottom: 1%;
  margin-right: 15%;
  width: 100%;
 }



 .accionesz-1{
  width: 100%;
  margin-top: 0px;
  margin-bottom: 20px;
}
.Festudianz .verz-1{
  border-radius: 5px;
  margin-left:5%;

  margin-top: 10%;
  margin-bottom: 25px;
  width: 15%;
  padding: 1%;
  border-radius: 15px;
  font-size: 12px;
}
.Festudianz .esz-1 {
  margin-left: 0px;
  margin-top:10px;
  margin-left: 20px;
  font-size:13px;
  margin-bottom: 0px;
  
 }

 .Festudianz .arc-1z {
 
  margin-bottom:0px;
  margin-left: 2%;
  margin-top: 0px;
  text-decoration: underline; 
  font-size: 12px;
 }




 .accionesz-3{
  width: 200px;
  margin-top: -4px;
  margin-bottom: 0%;
  margin-left: -158px;
}
.Festudianz .verz-3{
  border-radius: 5px;
  margin-left:3%;
  margin-top: 7%;
  width: 15%;
  padding: 1%;
  border-radius: 15px;
  font-size: 12px;
}
.Festudianz .esz-3 {

  margin-top:0px;
  margin-left: -30px;
  font-size:13px;
  margin-bottom: 20px;
  
 }

 .Festudianz .arc-3z {
 
  margin-bottom:0px;
  margin-left: -40px;
  margin-top: 0px;
  text-decoration: underline; 
  font-size: 12px;
 }

 .Festudianz input[type="file"]
 {
  width: 60%;
  font-size: 85%;
  border: 1px solid #0639c5;
  margin-left: -40px;
}





.Festudianz .subir-3z {
  background-color: #135a7a;
  color: #fff;
  border-radius: 9px;
  width: 45px;
 font-size: 12px;
}

.Festudianz .comentz {
 
  font-size: 0px;
 margin-left: 0px;
 }

 .Festudianz .comentarioz {
  
  
  font-size: 10px;
  width:100%;
  margin-left: -40px;
 
  height: 50px;
  

 }

 .ggz {
  margin-top:28px;
  margin-bottom: 10px;
  margin-left:35px;
  width: 100%;
}


.ggz input[type="file"]
{
 width: 40%;
 font-size: 75%;
 border: 1px solid #0639c5;
 margin-left: -25px;
 margin-bottom: 0px;
}

.Festudianz .botonz-0 {
  border-radius: 9px;
  margin-left: 0px;
  font-size: 10px;
  margin-top: 10px;
margin-bottom: 40px;
  width: 100px;
}

.Festudianz .estado-0z {
  
  margin-left: -30px;
  font-size: medium;
 
 }


 .accionesz{
  width: 80%;
  margin-top: 5%;
  margin-bottom: 65px;
  margin-left:45px ;
}


.Festudianz .verz-2{
  margin-left:0px ;
  margin-top: 2%;
  padding: 0.3%;
  margin-right: 200px;
  margin-bottom: 30px;
}




.Festudianz .botonz {
  border-radius: 9px;
  margin-left: 5%;
  margin-top: 30px;
margin-bottom: -75px;
  width: 150px;
 font-size: 12px;
}

.accionesz-4{
  width: 100%;
  margin-top: 11%;
  margin-bottom: 13px;
}

.Festudianz .arc-2z {
  margin-left: 0px;
  margin-bottom:10px;
  margin-left: -25px;
  margin-top: -5px;
  }


  .Festudianz .botonz-3 {
   
    margin-left: 20px;
    margin-right: 40px;
    
    margin-top: -10px;
  margin-bottom: -10px;
    width: 100px;
    
    font-size: 10px;
  }

  .accionesz-3{
    width: 350px;
    margin-top: 5%;
    margin-bottom: -4%;
    margin-left: -200px;
  }
 

  .Festudianz .contener-3z{
    margin-left: 245px;
    margin-top: -20px;
    margin-bottom: 0px;
     width: 490px;
  }


  .Festudianz .arc-1z-4 {
    margin-left: 0px;
    margin-bottom:60px;
    margin-left: 5px;
    margin-top: 15px;
    font-size: 12px;
    text-decoration: underline; 
   }
.ff {
  margin-left: 4px;
  font-size: 12px;
}
}