.panel{
    margin-top: 20px;
    width: 100%;
}


.panel h3{
    margin-top: 20%;
    color: #135a7a;
    font-size: bold;
    }


@media (max-width: 768px) {
    .panel {
        width: 100%;
    
    }
    

}