.PagePersonalEscolar {
    flex-grow: 1;
    /* Hace que el contenido principal ocupe todo el espacio restante */
    padding: 20px;
    background-color: #E0E0E0;
    display: flex;
    flex-direction: column;
    overflow: auto;
    
    
}

.PagePersonalEscolar.contenidoDinamico {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.PagePersonalEscolar .BtnOpciones {
    align-items: center;
    padding-left: 0px;
    /* Agrega espacio interno si es necesario */
    margin-top: 10px;

}

.PagePersonalEscolar .barraBusqueda {
    align-items: center;
    padding-left: 0px;
    margin-top: 10px;
}

.PagePersonalEscolar .tituloEstudiantes {
    align-items: center;
    padding-left: 0px;
    margin-top: 10px;
    text-shadow: 1px 1px 8px #9dc5c2;
    color: #7a1313;
}

.tablaEstudiante {
    height: 70%;
    overflow: auto;
    
    
}

.PagePersonalEscolar .barraBusquedas {
    align-items: center;
    padding-left: 0px;
    margin-top: 10px;
}
.cargandos{
    font-weight: bold;
    color: rgb(226, 55, 43);
    font-size: 20px;
    margin-top: -60%;
    margin-bottom: 3%;
}

.cargandosi{
    font-weight: bold;
    color: rgb(226, 55, 43);
    font-size: 20px;
    margin-top: -57%;
    margin-bottom: 3%;
}

.cargando{
    font-weight: bold;
    color: red;
    font-size: 20px;
    margin-top: 5%;
    margin-bottom: 1%;
}










@media (min-width: 1024px) and (max-width: 1028px) {

    .cargandos{
      
        margin-top: -102%;
       
    }


    .cargandosi{
      
        margin-top: -102%;
       
    }
}

@media (min-width: 426px) and (max-width: 768px) {
    .PagePersonalEscolar {
        padding: 5px;
    }
    .cargando{ 
        font-size: 14px;
    }


    .cargandos{
        font-weight: bold;
        color: rgb(226, 55, 43);
        font-size: 15px;
        margin-top: -550px;
        margin-bottom: 0%;
    }
    .cargandosi{
        font-weight: bold;
        color: rgb(226, 55, 43);
        font-size: 15px;
        margin-top: -550px;
        margin-bottom: 0%;
    }


    .PagePersonalEscolar.contenidoDinamico {
        display: flex;
        flex-direction: column;
        height: 100vh;
    }


}




@media (max-width: 426px) {
    .PagePersonalEscolar {
        padding: 5px;
    }
    .cargando{ 
        font-size: 14px;
    }


    .cargandos{
        font-weight: bold;
        color: rgb(226, 55, 43);
        font-size: 12px;
        margin-top: -565px;
        margin-bottom: 50%;
    }

    .cargandosi{
        font-weight: bold;
        color: rgb(226, 55, 43);
        font-size: 12px;
        margin-top: -565px;
        margin-bottom: 50%;
    }
    

}
